/*  your css code here. If applicable */
body {
            margin: 0;
            padding: 0;
            height: 100vh;
            width: 100vw;
        }

        #line {
            background-color: #000;
            width: 200px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
        }